<div class="container">
  <div class="row">
    <div class="col-md-3 my-3" *ngFor="let movie of movies">
      <div class="card">
        <img
          [src]="'https://image.tmdb.org/t/p/original' + movie.poster_path"
          class="card-img-top image"
          alt="..."
        />
        <div class="card-body">
          <a
            target="blank"
            [routerLink]="['movie', movie.id]"
            class="card-details"
          >
            <h5 class="card-title">{{ movie.original_title }}</h5></a
          >
          <h6 class="card-date">{{ movie.release_date | date : "short" }}</h6>
          <p>{{ movie.overview | cutstr }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
